build/
optformer.egg-info/
optformer/__pycache__/
optformer/common/serialization/__pycache__/
optformer/common/serialization/numeric/__pycache__/
optformer/decoding_regression/__pycache__/
optformer/validation/__pycache__/